  <div class="tab-content hidden" id="next-meal-order">
    <% @user.meals.each do |meal| %>
      <div class="col-xs-12 col-md-3">
        <% if !meal.passed? %>
          <div class="card-meal">
            <%= link_to meal_path(meal) do  %>
              <h4><%= meal.menu_name %> de <%= meal.user.nickname %></h4>
              <%= cl_image_tag meal.images.first.path, width: 200, height: 100, crop: :fill %>
              <p><%= meal.price %>€</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
