<div class="container">
  <div class="row padded">
    <div class="col-md-10 col-md-offset-1">
     <h2> Profile de <%= @user.first_name %> <%= @user.last_name %></h2>

      <div class="row">
        <div class="col-xs-6">
          <h4>Les repas actuellement proposés</h4>

          <% @user.meals.each do |meal| %>
            <% if !meal.passed? %>
             <div class="card">
               <h4><%= meal.menu_name %> de <%= meal.user.nickname %></h4>
               <p><%= meal.price %>€</p>
             </div>
            <% end %>
          <% end %>

         </div>
         <div class="col-xs-6">
           <h4>Les repas précédement proposés</h4>
           <ul class="list-unstyled">
           <% @user.meals.each do |meal| %>
            <li>
              <% if meal.passed? %>
                <div class="card">
                  <h4><%= meal.menu_name %> de <%= meal.user.nickname %></h4>   <p><%= meal.price %>€</p>
                </div>
              <% end %>
            </li>
           <% end %>
           </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h4>Les repas que j'ai commandé (en attente)</h4>
            <ul class="list-unstyled">
              <% if @user.placed_orders.present? %>
                <% @user.placed_orders.coming.each do|meal| %>
                  <div class="card">
                    <h4><%= meal.menu_name %> de <%= meal.user.nickname %></h4>
                    <p><%= meal.price %>€</p>
                  </div>
                <% end %>
              <% end %>
            </ul>

        </div>
        <div class="col-xs-6">
          <h4>Les repas que j'ai commandé (passés)</h4>
          <ul class="list-unstyled">
            <% if @user.placed_orders.present? %>
              <% @user.placed_orders.passed.last(3).each do|meal| %>
                <div class="card">
                  <h4><%= meal.menu_name %> de <%= meal.user.nickname %></h4>
                  <p>Prix du repas: <%= meal.price %>€</p>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
