<div class="row padded">
  <div class="col-md-8">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="tabs">
          <a class="tab active" data-target="#next_meal_proposed">
            <h4>Les Miams proposés</h4>
          </a>
          <a class="tab" data-target="#awaiting_meal_ordered">
            <h4>Les Miams commandés</h4>
          </a>
        </div>
        <div class="tabs">
          <a class="tab" data-target="#old_meal_proposed">
            <h4>Les Miams passés</h4>
          </a>
          <a class="tab" data-target="#old_meal_ordered">
            <h4>Les Miams dégustés</h4>
          </a>
        </div>
      <div class="incoming">
        <%= render partial: "users/ongoing/proposed_meal" %>
        <%= render partial: "users/ongoing/awaiting_meal_ordered" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="passed">
          <%= render partial: "users/passed/old_proposed_meal" %>
          <%= render partial: "users/passed/old_meal_ordered" %>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <%= render partial: "users/review" %>
  </div>
</div>
