
<div class="profile-header-info text-center">

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="avatar">
        <% if @user.avatar.present? %>
          <%= cl_image_tag @user.avatar.path, :transformation=>[
          {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
          {:width=>200, :height=>200, :crop=>"scale"}
          ], class: "avatar-profile" %>
        <% else %>
          <% avatar_url = (@user.facebook_picture_url || "http://placehold.it/30x30") %>
          <%= image_tag avatar_url, class: "avatar-profile" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="profile-name">
        <h3><%= @user.full_name %></h3>
      </div>
      <div class="profile-rating">
        <% if @user.received_reviews > 0 %>
           <%  @user.rating_average.times do %>
               <i class="fa fa-star" aria-hidden="true"></i>
           <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

  <div class="tabs">

<!--     <a class="tab" data-target="#profile">
     <h4> Profile</h4>
    </a> -->

    <a class="tab" data-target="#next-meal-order">
      <h4>En ce moment</h4>
    </a>

    <a class="tab" data-target="#old-meal-order">
      <h4>Passés</h4>
    </a>

    <a class="tab" data-target="#awaiting-meal">
      <h4>Mes commandes à venir</h4>
    </a>

    <a class="tab" data-target="#old-meal-ordered">
      <h4>Mes commandes passées</h4>
    </a>

    <a class="tab" data-target="#reviews">
      <h4>Mes notes en tant que cuisto</h4>
    </a>
  </div>





<div class="content">
  <div class="row">
    <%= render "profile" %>

    <%= render "next-meal-order" %>

    <%= render "old-meal-order" %>

    <%= render "awaiting-meal" %>

    <%= render "old-meal-ordered" %>

    <%= render "reviews" %>
  </div>


</div>




