<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Miam", root_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>


      <%= link_to "Propose", new_meal_path, class: "btn btn-lg btn-warning" %>


          <!-- notification commande -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <div class="badge-container dropdown-toggle", data-toggle="dropdown">
              <i class="fa fa-envelope-o" aria-hidden="true" style="color: $orange"></i>
              <div class="badge badge-blue"><%= Notification.unread(current_user).count %></div>
            </div>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <% Notification.unread(current_user).each do |notification| %>


                <li><%= link_to notification_path(notification) do %>
                  <% notification.content %>
                <% end %></li>


              <% end %>
            </ul>
          </div>
        </div>


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
        <% if current_user.avatar.present? %>
          <%= cl_image_tag current_user.avatar.path, :transformation=>[
          {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
          {:width=>40, :height=>40, :crop=>"scale"}
          ], class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <% avatar_url = (current_user.facebook_picture_url || "http://placehold.it/30x30") %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user)  do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to  edit_user_registration_path  do %>
                <i class="fa fa-wrench"></i>  <%=  "Edit" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>

  </div>

  <% if user_signed_in? %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to root_path do %>
              <i class="fa fa-home"></i>
              <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
        <li>
          <%= link_to user_path(current_user)  do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
         <%= link_to  edit_user_registration_path  do %>
           <i class="fa fa-wrench"></i>  <%=  "Edit" %>
         <% end %>
       </li>
       <li>
         <%= link_to destroy_user_session_path, method: :delete do %>
           <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
         <% end %>
       </li>
      </ul>
    </div>
  </div>



  <% end %>
  <!-- Dropdown list appearing on mobile only -->
</div>

