

<div class="container">
  <div class="row padded">

    <div class="meal-form">
      <%= simple_form_for @meal do |f| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2>Crée le miam que tu veux partager</h2>

        <div class="row">
          <div class="col-xs-7">
            <%= f.input :menu_name, placeholder: "Le nom de ton repas", label: false,  input_html: {class: 'form_input_meal' } %>
          </div>

          <div class="col-xs-5">
            <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "Séléctionnez une catégorie" }%>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h4>Précise un maximm d'ingrédients:</h4>

            <div id="ingredients" class="ingredients">
              <%= f.simple_fields_for :ingredients do |ingredient| %>
                <%= render "ingredients_fields", f: ingredient %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Ajouter un ingrédient", f, :ingredients, partial: "ingredients_fields", class:"btn btn-warning btn-sm" %>
              </div>
            </div>

          </div>
        </div>

       <div class="row">
         <div class="col-xs-4">
           <%= f.input :portion, label: false, placeholder: "Nombre de parts", input_html: {class: 'form_input_meal' } %>
         </div>

         <div class="col-xs-4">
           <%= f.input :availability, label: false, input_html: {class: 'form_input_meal' }%>
         </div>
          <div class="col-xs-4">
            <%= f.input :price, label: false, placeholder: "Prix/part", input_html: {class: 'form_input_meal' } %>
          </div>
       </div>

        <div class="row">
            <div class="col-xs-3">
              <div class="uploader">
                <%= f.input :images, as: :attachinary , label: false ,required: true %>
              </div>
            </div>

          <div class="col-xs-12">
            <%= f.input :location , label: false, placeholder:  "Où venir chercher", input_html: {class: 'form_input_meal' }%>
          </div>
        </div>
      </div>

      <div class="col-xs-12  col-md-10 col-md-offset-1 text-center">
        <%= f.submit "Valider" , class:"btn btn-warning btn-lg btn-event"  %>
      </div>
    <% end %>
    </div>
  </div>
</div>

