<div class="content">
  <div class="row">
  <%#= render 'shared/search_location' %>
  <%= render 'category_filter' %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="meals-normal">
      <% if @meals_count != 0 %>
        <div class="row">
          <% @meals.sort.each do |meal| %>
              <% unless meal.passed?  %>
              <div class="col-xs-3">
                <div class="card-meal">
                <%= link_to meal_path(meal) do  %>

                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <div class="col-xs-5">
                        <h3><%= meal.menu_name %></h3>
                        <% if  meal.images?%>
                          <%= cl_image_tag meal.images.first.path, :transformation=>[
                          {:width=>150, :height=>75, :crop=>"fill"}], class: "meal-image"%>
                       <% end %>
                        <h3> <%= humanized_money_with_symbol(meal.price) %></h3>
                      </div>
                      <div class="col-xs-7">
                       <h3><i class="fa fa-cutlery" aria-hidden="true"></i> <%= meal.user.nickname  %></h3>
                       <p><%= meal.availability.strftime("%d/%m/%Y")%></p>
                       <p><%= meal.location %></p>
                      </div>
                    </div>

                   <div class="col-xs-12 text-center ">
                     <h4><%= meal.category.name %></h4>
                   </div>

                  </div>
                </div>

                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="no-meal">Aucun repas ne correspond à votre recherche.

         <%= link_to 'Effacer les filtres', meals_path('category[]' => 'all') %>
         </p>
      <% end %>

    </section>
  </div>

  </div>
<!--     <div id="map" style="width: 100%; height: 600px;" data-markers='<%#= raw @markers_hash.to_json %>'></div>
 -->

</div>
