<div class="container">
  <div class="row">
  <%#= render 'shared/search_location' %>
  <%= render 'category_filter' %>
  <div class="col-sm-10">
    <section class="meals-normal">
      <% if @meals_count != 0 %>
        <div class="row">
          <% @meals.sort.each do |meal| %>
              <% unless meal.passed?  %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= link_to meal_path(meal) do %>
                  <div class="card-meal">
                    <div class="description text-center">
                      <div class="description-meal">
                        <h3><%= meal.menu_name  %></h3>
                        <span><small><%= meal.category.name %></small></span>
                        <br>
                        <% if  meal.images?%>

                          <%= cl_image_tag meal.images.first.path, width: 200, height: 100, crop: :fill %>

                        <% end %>
                        <h4>Cuisiné par: <%= meal.user.nickname  %></h4>
                        <p>Prévu pour le: <%= meal.availability %></p>
                        <p>A récupérer à:</p>
                        <p><%= meal.location %></p>
                      </div>
                      <div class="price-icons">
                        <p> <%= humanized_money_with_symbol(meal.price) %></p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="no-meal">Aucun repas ne correspond à votre recherche.

         <%= link_to 'Effacer les filtres', meals_path('category[]' => 'all') %>
         </p>
      <% end %>

    </section>
  </div>

  </div>
<!--     <div id="map" style="width: 100%; height: 600px;" data-markers='<%#= raw @markers_hash.to_json %>'></div>
 -->

</div>
